<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ToniePut</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    </head>
    <body>
        <div id="popup-rename" class="popup-wrapper">
            <div>
                <span></span>
                <h1>Rename Song</h1>
                <p id="popup-rename-close">X</p>
            </div>
            <form action="{{ url_for('rename_pending_file') }}" method="post">
                <div>
                    <label for="current_song">Current:</label>
                    <p id="current_song"></p>
                    <input hidden type="text" name="current_song" id="current_song_hidden">
                </div>
                <div>
                    <label for="new-name">New Name:</label>
                    <input type="text" name="new-name" id="renamed_song" placeholder="Give the song a new name...">
                    <button type="submit">Rename</button>
                </div>
            </form>
        </div>
        {% if not username %}
        <div class="login-wrapper">
            <h1>ToniePut</h1>
            <img id="login-icon" src="{{ url_for('static', filename='tonie.jpg') }}" alt="">
            <div class="login-credentials">
                <h2>Sign Into Your MyTonie</h2>
                <form action="/mytonie-login" method="post">
                    <div class="input-wrapper">
                        <div class="input-row">
                            <input placeholder="Username/Email" type="text" name="username" id="username">
                        </div>
                        <div class="input-row">
                            <input placeholder="Password" type="password" name="password" id="password">
                        </div>
                        <div class="input-row">
                            <button type="submit">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% else %}
        <div class="content-wrapper">
            <nav>
                <div class="menu-items home-items">
                    <img id="icon" src="{{ url_for('static', filename='tonie.jpg') }}" alt="">
                    <div class="title">
                        <h1>ToniePut</h1>
                        <p>Logged in as: {{ username }}</p>
                    </div>
                </div>

                <div class="menu-items person-items">
                    <form id="logout-form" action="/logout" method="post">
                        <button type="submit">Logout</button>
                    </form>
                </div>
            </nav>
        </div>

        <div class="content-wrapper title-left">
            <h1>Load Content for Your Tonie</h1>
            <div class="load-container">
                <form id="link-form" action="/download" method="post">
                    <label for="url">Youtube or Spotify Link</label>
                    <input type="text" name="url" id="url" placeholder="Enter a YouTube or Spotify Link...">
                    <button type="submit">Load</button>
                </form>
                <form id="file-form" action="/upload" method="post" enctype="multipart/form-data">
                    <label for="file">Local File</label>
                    <input type="file" name="file" id="file">
                    <button type="submit">Load</button>
                </form>
            </div>
        </div>

        <div class="content-wrapper creative-tonies title-left">
            <h1>Prepare Files to Load</h1>
            <div class="pending-files">
                <ol>
                    {% if files|length > 0 %}
                    {%for file in files:%}
                    <li>
                        <p>{{file}}</p>
                        <button id="button-rename-song" class="song-rename-button" type="submit">Rename Song</button>
                        <form action="{{ url_for('delete_pending_file', filename=file) }}" method="post">
                            <button type="submit" onclick="return confirm('Are you sure you want to delete this file?');">Delete Song</button>
                        </form>
                    </li>
                    {% endfor %}
                    {% else %}
                    <li>No Pending files found</li>
                    {% endif %}
                </ol>
            </div>
        </div>

        <div class="content-wrapper tonie-selection-wrapper title-left">
            <h1>Upload to Your Creative Tonie</h1>
            <div class="tonie-selection">
                <form action="/load-tonie" method="post">
                    <label for="tonie-selection">Selected Tonie</label>
                    <select name="selected-tonie" id="tonie-selection-dropbox">
                        {% if tonies|length > 0 %}
                        {%for tonie in tonies%}
                        <option value="{{tonie.id}}">{{tonie.name}} ({{tonie.id}})</option>
                        {% endfor %}
                        {% else%}
                        <option value="">No Creative Tonies Available</option>
                        {% endif%}
                    </select>
                    {% if tonies|length > 0 and files|length > 0 %}
                    <button type="submit">Load to Selected Tonie</button>
                    {% else %}
                    <button disabled type="submit">Load to Selected Tonie</button>
                    {% endif%}
                </form>
            </div>
        </div>
        {% endif %}
        
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    </body>
</html>